@import url(./reset.css);


.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

:root {
  --app-dark-bg: #1a1d28;
  --app-green: #33ab4e;
  --app-purple: #833cff;
  --app-orange: #ff833c;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
  --app-orange-text: #ff8e1c;
  --app-light-gray: #f9f9f9;
  --app-white: #fff;   
}


body {
  font-family: Arial, sans-serif;
  background: url('../image/4561977.jpg') center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;  
}

h1 {
  font-size: 62px;
  margin: 5px;
  padding: 20px;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(45deg, #FFC107, #FF9800);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

#game-container {
  width: 540px;
  height: 400px;
  margin: 0 auto;
  background: linear-gradient(to left, #3498DB, #be215c, #f04a69);
  padding: 20px 50px 20px 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #bfbfc4;
  
}

/*@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
  animation: bounce 0.5s infinite alternate;
}*/
   
#prompt {
  font-size: 29px;
  display: block;
  height: 45px;   
  width: 200px;
  color: var(--app-white);
}




input[type="text"] {
  font-size: 20px;
  width: 300px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-top: 15px;
  background-color: #152f55;   
  color: #f9f9f9;
}

  
#start-button {
  width: 125px;
  height: 45px;
  border-radius: 50px;
  font-size: 20px;
  color: var(--app-white);
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 26px 30px -10px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  background-color: #4589b7;
  margin-top: 25px;  
}
 
#start-button:hover {
  background-color:#16707d;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out;
}

#status {
  font-size: 23px;
  margin-top: 20px;
  color: var(--app-white);
}
  
audio {
  display: none;
}

@keyframes correct-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(-0.8);
  }
  100% {
    transform: scale(1);
  }
}

.correct {
  animation-name: correct-animation;
  animation-duration: 2.2s;
}



.result-section {
  display: none;
  text-align: center;
  margin-top: 5px;
}

.result-section h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: var(--app-white);
}

.result-section p {
  font-size: 22px;
  margin-bottom: 5px;
  color: var(--app-white);
}

.result-section .typing-speed {
  font-weight: bold;
}

.result-section .score {
  font-weight: bold;
}

.result-section.show {
  display: block;
  animation: fade-in 0.5s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



